# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

/cnnGAN/training_checkpoints/
/data/
/.idea/
/.DS_Store
/test.py
cnnVAE/cvae.gif
cnnVAE/image_at_epoch_0000.png
cnnVAE/image_at_epoch_0001.png
cnnVAE/image_at_epoch_0002.png
cnnVAE/image_at_epoch_0003.png
cnnVAE/image_at_epoch_0004.png
cnnVAE/image_at_epoch_0005.png
cnnVAE/image_at_epoch_0006.png
cnnVAE/image_at_epoch_0007.png
cnnVAE/image_at_epoch_0008.png
cnnVAE/image_at_epoch_0009.png
cnnVAE/image_at_epoch_0010.png
cnnVAE/image_at_epoch_0011.png
cnnVAE/image_at_epoch_0012.png
cnnVAE/image_at_epoch_0013.png
cnnVAE/image_at_epoch_0014.png
cnnVAE/image_at_epoch_0015.png
cnnVAE/image_at_epoch_0016.png
cnnVAE/image_at_epoch_0017.png
cnnVAE/image_at_epoch_0018.png
cnnVAE/image_at_epoch_0019.png
cnnVAE/image_at_epoch_0020.png
cnnVAE/image_at_epoch_0021.png
cnnVAE/image_at_epoch_0022.png
cnnVAE/image_at_epoch_0023.png
cnnVAE/image_at_epoch_0024.png
cnnVAE/image_at_epoch_0025.png
cnnVAE/image_at_epoch_0026.png
cnnVAE/image_at_epoch_0027.png
cnnVAE/image_at_epoch_0028.png
cnnVAE/image_at_epoch_0029.png
cnnVAE/image_at_epoch_0030.png
cnnVAE/image_at_epoch_0031.png
cnnVAE/image_at_epoch_0032.png
cnnVAE/image_at_epoch_0033.png
cnnVAE/image_at_epoch_0034.png
cnnVAE/image_at_epoch_0035.png
cnnVAE/image_at_epoch_0036.png
cnnVAE/image_at_epoch_0037.png
cnnVAE/image_at_epoch_0038.png
cnnVAE/image_at_epoch_0039.png
cnnVAE/image_at_epoch_0040.png
cnnVAE/image_at_epoch_0041.png
cnnVAE/image_at_epoch_0042.png
cnnVAE/image_at_epoch_0043.png
cnnVAE/image_at_epoch_0044.png
cnnVAE/image_at_epoch_0045.png
cnnVAE/image_at_epoch_0046.png
cnnVAE/image_at_epoch_0047.png
cnnVAE/image_at_epoch_0048.png
cnnVAE/image_at_epoch_0049.png
cnnVAE/image_at_epoch_0050.png
cnnVAE/image_at_epoch_0051.png
cnnVAE/image_at_epoch_0052.png
cnnVAE/image_at_epoch_0053.png
cnnVAE/image_at_epoch_0054.png
cnnVAE/image_at_epoch_0055.png
cnnVAE/image_at_epoch_0056.png
cnnVAE/image_at_epoch_0057.png
cnnVAE/image_at_epoch_0058.png
cnnVAE/image_at_epoch_0059.png
cnnVAE/image_at_epoch_0060.png
cnnVAE/image_at_epoch_0061.png
cnnVAE/image_at_epoch_0062.png
cnnVAE/image_at_epoch_0063.png
cnnVAE/image_at_epoch_0064.png
cnnVAE/image_at_epoch_0065.png
cnnVAE/image_at_epoch_0066.png
cnnVAE/image_at_epoch_0067.png
cnnVAE/image_at_epoch_0068.png
cnnVAE/image_at_epoch_0069.png
cnnVAE/image_at_epoch_0070.png
cnnVAE/image_at_epoch_0071.png
cnnVAE/image_at_epoch_0072.png
cnnVAE/image_at_epoch_0073.png
cnnVAE/image_at_epoch_0074.png
cnnVAE/image_at_epoch_0075.png
cnnVAE/image_at_epoch_0076.png
cnnVAE/image_at_epoch_0077.png
cnnVAE/image_at_epoch_0078.png
cnnVAE/image_at_epoch_0079.png
cnnVAE/image_at_epoch_0080.png
cnnVAE/image_at_epoch_0081.png
cnnVAE/image_at_epoch_0082.png
cnnVAE/image_at_epoch_0083.png
cnnVAE/image_at_epoch_0084.png
cnnVAE/image_at_epoch_0085.png
cnnVAE/image_at_epoch_0086.png
cnnVAE/image_at_epoch_0087.png
cnnVAE/image_at_epoch_0088.png
cnnVAE/image_at_epoch_0089.png
cnnVAE/image_at_epoch_0090.png
cnnVAE/image_at_epoch_0091.png
cnnVAE/image_at_epoch_0092.png
cnnVAE/image_at_epoch_0093.png
cnnVAE/image_at_epoch_0094.png
cnnVAE/image_at_epoch_0095.png
cnnVAE/image_at_epoch_0096.png
cnnVAE/image_at_epoch_0097.png
cnnVAE/image_at_epoch_0098.png
cnnVAE/image_at_epoch_0099.png
cnnVAE/image_at_epoch_0100.png
